@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@800;600;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bluegrey:#E7ECEF;
}

.headerFont {
    font-family: 'Lexend', sans-serif;
}

h2.headerFont {
    font-size: 47px;
}

li.headerFont {
    font-weight: 200;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* GENERALITIES */

.genPageSetup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 200px;
}

.genTitle {
    font-size: 65px;
    margin-top: 2em;
    margin-bottom: 0.7em;
    border-bottom: solid black 1px;
    padding: 0px 40px;
    padding-bottom: 40px;
    text-align: center;
}

.overlay {
    display: none;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: .8;
}

.overlay.active {
    display: block;
}

.eventBox:hover {
    text-decoration: underline;
}

/* LANDING PAGE */

.landingSections {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.landingNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 80px;
    background-color: var(--bluegrey);
}

.navSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.landingImageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 100px;
}

#pfsc_img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.subPages a {
    text-decoration: none;
    color: black;
}

.subPages a:hover {
    text-decoration: underline;
}

.subPages {
    max-height: 0;
    overflow: hidden;
}

.subPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    padding-top: 20px;
}

.navSection.active .subPages{
    max-height: 300px;
    animation: fade 0.5s;
}

.eventsTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contactUsTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mainPage {
    cursor: pointer;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* GENERAL NAV BAR */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--bluegrey);
}

.logo-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logoText {
    border-left: solid black 1px;
    padding: 6px 0px;
    padding-left: 1em;
    margin-left: 1em;
}

.nav_links li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    cursor: pointer;
}

.nav_links a{
    text-decoration: none;
    color: black;
}

.nav_links li a:hover {
    text-decoration: underline;
}

#logo {
    width: auto;
    height: 70px;

}

#link_about {
    position: relative;
}

.about_subPages {
    display: none;
    position: absolute;
    width: 200px;
    top: 50px;
    left: -20px;
    background: var(--bluegrey);
    z-index: 2;
}

.about_subPages.active {
    display: block;
}

.about_subLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    list-style: none;
}

/* TOGGLE BUTTON */

.toggle_button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 2rem;
    right: 1.8rem;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.toggle_bar {
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 20%;
}

@media screen and (max-width: 800px){
    .toggle_button {
        display: flex;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        width: 100%
    }

    .nav_links a {
        width: 100%;
    }

    .nav_links.active{
        display: flex;
    }

    .about_subPages {
        top: 30px;
    }
}

@media screen and (max-width: 600px) {
    #logoText {
        display: none;
    }
}


/* WHAT IS JB PAGE */

.buttonGroup1 a {
    text-decoration: none;
    color: black;
}

.buttonGroup1 {
    display: flex;
    justify-content: space-evenly;
}

.buttonGroup1 button {
    font-family: 'Open Sans', sans-serif;
    padding: 20px 40px;
    margin: 30px 60px;
    font-size: 17px;
}

.JBDescript {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 17px;
    text-align: center;
}

/* GET INVOLVED PAGE */

.involvedParagraph {
    font-size: 17px;
    text-align: center;
}

/* MEMBERS PROFILE PAGE */

.memberColumns {
    display: flex;
    flex-direction: column;
}

.memberRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.memberRowColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.membersTitle {
    font-size: 65px;
    margin-top: 1.7em;
    margin-bottom: 0.7em;
    border-bottom: solid black 1px;
    padding: 10px 5px;
    padding-bottom: 40px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .memberRowColumn img {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 570px) {
    .memberRow {
        display: flex;
        flex-direction: column;
    }

    .memberRowColumn img {
        width: 200px;
        height: auto;
    }

    .memberRowColumn {
        flex-direction: column;
        padding: 50px 0;
    }
}

/* EVENTS PAGE */

.upcomingEvents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pastEvents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .popupImgContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
} */

.popupImages {
    margin: 0 18vw;
    margin-top: 50px;
    width: 50%;
    height: auto;
}

.eventBox {
    background-color: lightgray;
    padding: 80px 40px;
    margin: 30px 50px;
    cursor: pointer;
}

.popup, .popup2 {
    display: none;
}

.popup.show, .popup2.show {
    display: block;
    position: absolute;
    z-index: 901;
    top: 15vh;
    left: 15vw;
    width: 70vw;
    height: 110vh;
    background: #90A1AE;
    opacity: 1;
}
.uevents_title, .pevents_title {
    border-bottom: solid black 1px;
    margin: 40px 50px;
    margin-right: 3em;
    padding-bottom: 20px;
}

.eventBox h1 {
    font-family: 'Lexend', sans-serif;
}

.popup h1 {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    margin-top: 2em;
}

.eventType {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 1em;
    color: rgb(68, 76, 87);
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.closeButton:hover {
    text-decoration: underline;
}

.popupHr {
    width: 10%;
    margin: auto;
    margin-top: 20px;
}

.eventInfo {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 1em;
}

.eventDescript {
    margin: 0 15vw;
    margin-top: 2vh;
    text-align: center;
}

/* @media screen and (max-width: 450px) {
    .eventDescript {
        margin: 0 20px;
        margin-top: 30px;
        text-align: center;
    }
}

@media screen and (max-width: px) {
    .eventDescript {
        margin: 0 100px;
        margin-top: 30px;
        text-align: center;
    }
} */

/* CONTACT US PAGE */

.contactPage {
    height: 100vh;
    background-color: #274C77;
    color: white;
}


.contactHR {
    width: 50%;
    margin: auto;
}

.topSection {
    padding: 80px 100px;
    text-align: center;
    /* border-bottom: white solid 1px; */
    /* margin: 0 200px; */
}

.contactTitle {
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Lexend', sans-serif;
}

.topSection p {
    font-size: 15px;
}

.bottomSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.contactUs__logos img {
    height: 40px;
    width: auto;
    padding-bottom: 10px;
}

.pin {
    margin-bottom: 30px;
}

.contactUs__logos {
    padding-right: 30px;
}

.address {
    margin-bottom: 10px;
}

.email {
    margin-bottom: 22px;
}

.phoneNumber {
    margin-bottom: 22px;
}

.igHandle {
    margin-bottom: 22px;
}

.fbHandle {
    margin-bottom: 22px;
}


/* CONTACT US FOOTER SECTION */

footer {
    background-color: #274C77;
    color: white;
    height: 300px;
    margin-top: 50px;
}

.footerTitle {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: solid white 2px;
    margin: 40px 6em;
}

.footerBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftSide {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}

.logos {
    margin-right: 20px;
}

.logos img{
    height: 25px;
    width: auto;
}

.rightSide {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#phoneNumber {
    margin-top: 10px;
}

footer p {
    font-size: 14px;
}

#facebook {
    margin-top: 12px;
    margin-bottom: 12px;
}